*{
    border-radius: 20px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(background\ for\ login\ page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 698px;
    overflow: hidden;
}
form{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lightblue;
}

.upper_body{
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    flex-direction: column;
    padding:50px 200px 200px 200px ;
    /* background-color: lightskyblue */
}
.upper_body h1{
    font-size: 40px;
    font-weight: 2000;
}
label{
    font-size: 20px;
    font-weight: 800;
    /* margin: 20px 20px 0px px ; */
}

input{
    border: 2px solid black;
    margin: 10px 0px 10px 0px ;
    background-color: transparent;
    color:black;
    font-weight:500;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-weight: 700;
    background-color: transparent;
    

}
#btn{
    margin: 10px 0px 5px 70px;
    width: 100px;
    height: 30px;
}